@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Klee+One&family=VT323&display=swap');

*, html {
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

a {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(99, 6, 143, 0.788);
  }
}
